@import "tailwindcss";
@import "@nuxt/ui";
@import "tw-animate-css";

@theme {
    --color-wonderful-blue-500: #3178a3;
    --color-wonderful-violet-500: #5d3468;
    --color-wonderful-yellow-500: #aa8d04;
    --color-wonderful-red-500: #852217;
}

@theme static {
    /* Override default green color */
    --color-green-50: #EFFDF5;
    --color-green-100: #D9FBE8;
    --color-green-200: #B3F5D1;
    --color-green-300: #75EDAE;
    --color-green-400: #00DC82;
    --color-green-500: #00C16A;
    --color-green-600: #00A155;
    --color-green-700: #007F45;
    --color-green-800: #016538;
    --color-green-900: #0A5331;
    --color-green-950: #052E16;
}
