@import "tailwindcss";
@import "@nuxt/ui";

@theme default {
  --ui-container: 40rem;
}

@theme static {
  --font-title: 'Source Sans Pro', sans-serif;
  --font-sans: 'Source Code Pro', sans-serif;

  --color-green-50: #fff2f2;
  --color-green-100: #ffd8d8;
  --color-green-200: #ffbebe;
  --color-green-300: #ffa3a3;
  --color-green-400: #ff9696;
  --color-green-500: #ff7c7c;
  --color-green-600: #cc6363;
  --color-green-700: #994a4a;
  --color-green-800: #663232;
  --color-green-900: #331919;
  --color-green-950: #1a0c0c;

  --color-secondary-500: #0072b3;

  /* Flip Seven Game Colors */
  --color-flip-seven-100: #f4fbfb;
  --color-flip-seven-200: #dff4f2;
  --color-flip-seven-300: #caece9;
  --color-flip-seven-400: #a9e1db;
  --color-flip-seven-500: #94d9d2;
  --color-flip-seven-600: #85c3bd;
  --color-flip-seven-700: #689893;
  --color-flip-seven-800: #59827e;
  --color-flip-seven-900: #2c413f;
  --color-flip-seven-950: #0f1615;

}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-title);
}

html {
  transition: all 0.8s ease;
  transition-duration: 500ms;
}

.fade-enter-active,
.fade-leave-active {
  transition: all 0.8s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
  transform: translateY(20px);
}

.fade-enter-to,
.fade-leave-from {
  opacity: 1;
  transform: translateY(0);
}
